** Two columns of Interest at this stage of the Analysis **
JJ - Indicates whether the school is part of a juvenile justice facility, or youth prison.
SCH_STATUS_MAGNET - Indicates whether the school is a magnet school, an advanced school for students who achieve high scores on certain tests

In [1]:
import sys
import pandas as pd

contents = pd.read_csv("/Users/user/Documents/workspace/Jupyter-Demo/crdc201314csv/CRDC2013_14_SCH.csv",encoding="Latin-1")

if __name__ == "__main__":
    print(contents.head(10))

/Users/user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3,4,9,26,27,28,33,34,533,1926) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  LEA_STATE                LEA_NAME                       SCH_NAME  \
0        AL  ALABAMA YOUTH SERVICES  WALLACE SCH - MT MEIGS CAMPUS
1        AL  ALABAMA YOUTH SERVICES      MCNEEL SCH - VACCA CAMPUS
2        AL           ALA YOUTH SER                 AUTAUGA CAMPUS
3        AL        ALBERTVILLE CITY          ALA AVENUE MIDDLE SCH
4        AL        ALBERTVILLE CITY           ALBERTVILLE HIGH SCH
5        AL        ALBERTVILLE CITY                 EVANS ELEM SCH
6        AL        ALBERTVILLE CITY           ALBERTVILLE ELEM SCH
7        AL        ALBERTVILLE CITY    BIG SPRING LAKE KINDERG SCH
8        AL        ALBERTVILLE CITY        ALBERTVILLE PRIMARY SCH
9        AL         MARSHALL COUNTY   KATE DUNCAN SMITH DAR MIDDLE

      COMBOKEY   LEAID  SCHID   JJ  CCD_LATCOD  CCD_LONCOD NCES_SCHOOL_ID  \
0  10000201705  100002   1705  YES     32.3748    -86.0824    1.00002e+10
1  10000201706  100002   1706  YES     33.5867    -86.7106    1.00002e+10
2  10000299995  100002  99995  YES         NaN         NaN            NaN
3  10000500870  100005    870   NO     34.2602    -86.2062    1.00005e+10
4  10000500871  100005    871   NO     34.2622    -86.2049    1.00005e+10
5  10000500879  100005    879   NO     34.2732    -86.2201    1.00005e+10
6  10000500889  100005    889   NO     34.2533    -86.2218    1.00005e+10
7  10000501616  100005   1616   NO     34.2902    -86.1925    1.00005e+10
8  10000502150  100005   2150   NO     34.2533    -86.2218    1.00005e+10
9  10000600193  100006    193   NO     34.5337    -86.2537    1.00006e+10

      ...     SCH_FTE_TEACH_WOFED SCH_SAL_TEACH_WOFED SCH_NPE_WOFED  \
0     ...                   29.00            65000.00     139000.00
1     ...                   21.00           473000.00     134000.00
2     ...                    0.00               -9.00        102.00
3     ...                   28.64          1441033.00     160221.00
4     ...                   57.64          3018949.56    1011572.00
5     ...                   28.64          1320312.00     120411.00
6     ...                   42.26          1764846.00     186381.00
7     ...                   33.97          1387806.60     115924.00
8     ...                   58.63          2670038.00     208899.00
9     ...                   20.00          1096440.59     307653.89

  DSO_SCH_FTE_TEACH_WOFED DSO_SCH_NPE_WOFED DSO_SCH_SAL_INSTR_WOFED  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
5                       0                 0                       0
6                       0                 0                       0
7                       0                 0                       0
8                       0                 0                       0
9                       0                 0                       0

  DSO_SCH_SAL_TEACH_WOFED SCH_JJTYPE SCH_JJSYDAYS SCH_JJHOURS
0                       0       POST          220          35
1                       0       POST          220          35
2                       0       POST          220          35
3                       0         -9           -9          -9
4                       0         -9           -9          -9
5                       0         -9           -9          -9
6                       0         -9           -9          -9
7                       0         -9           -9          -9
8                       0         -9           -9          -9
9                       0         -9           -9          -9

[10 rows x 1929 columns]

In [2]:
colJ = contents[contents["JJ"] == "YES"]
colJ["JJ"].value_counts()

YES    633
Name: JJ, dtype: int64

In [3]:
colSCH = contents[contents["SCH_STATUS_MAGNET"] == "YES"]
colSCH["SCH_STATUS_MAGNET"].value_counts()

YES    3749
Name: SCH_STATUS_MAGNET, dtype: int64

In [4]:

colJtbl = pd.pivot_table(contents, values=["TOT_ENR_M", "TOT_ENR_F"], index="JJ", aggfunc="sum")
print(colJtbl)

     TOT_ENR_F  TOT_ENR_M
JJ
NO    24317962   25677023
YES       5791      34890

In [5]:
colSCHtbl = pd.pivot_table(contents, values=["TOT_ENR_M", "TOT_ENR_F"], index="SCH_STATUS_MAGNET", aggfunc="sum")
print(colSCHtbl)

                   TOT_ENR_F  TOT_ENR_M
SCH_STATUS_MAGNET
-5                        20        105
NO                  22820499   24194835
YES                  1503234    1516973

For the school district enrollments, the number of male youths part of a juvenile justice facility, or youth prison is  6 times that of femal enrollment. Indicating that male youths are likely to be in juvenile justice facility for correction. There is also the possibility that for non completion of education in such schools, male youths are likely to drop out as compared to female youth.
The number of females and males in an advanced who achieve high scores on certain tests are approximately equal.

Create a column called total_enrollment that adds the TOT_ENR_M and TOT_ENR_F columns.

In [8]:
contents["total_enrollment"] = contents["TOT_ENR_M"] + contents["TOT_ENR_F"]

Compute the sums of all of the columns that break down enrollment by race and gender.

compute the sum of the total_enrollment column, and assign the result to the variable all_enrollment.

In [17]:
all_enrollment = sum(contents["total_enrollment"])

Divide the sums of the columns by all_enrollment to determine the percentage of enrollment that each race and gender makes up

In [13]:
contents["total_enrollment"]

0        1798
1         994
2         910
3         635
4        1114
5         680
6         783
7         479
8        1032
9         423
10        529
11        135
12        478
13        550
14        250
15        494
16        219
17        510
18        263
19        379
20        440
21        455
22        533
23        569
24        569
25       2757
26       1183
27        624
28        856
29       1620
         ...
95477      15
95478     224
95479     419
95480     284
95481     282
95482     285
95483       2
95484     101
95485     471
95486     597
95487     564
95488     577
95489      52
95490      40
95491      12
95492     239
95493      56
95494      69
95495     125
95496      78
95497     395
95498     321
95499     234
95500     215
95501     220
95502      34
95503      36
95504      40
95505      71
95506      44
Name: total_enrollment, Length: 95507, dtype: int64